body {


	background-color: #062d52;
	color: white;
	font-family: 'Trebuchet MS', sans-serif;
	text-align: center;
	margin-right: 12%;
	margin-left: 12%;
}
a:link {
  color: lightblue;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: lightpurple;
  background-color: transparent;
  text-decoration: none;
}
/* The top navigation bar, this doesnt follow the user scrolling, we can vote for a preference*/
.topnav{
	overflow: hidden; 
	background-color: #062d52;
	font-family: 'Trebuchet MS', sans-serif;
	padding: 2px, 2px;
	margin-right: 0px;
	margin-left: -12%;
}
.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #0d7e95;
}

.topnav a{
	float: left;
	font-size: 25px;
	color: white;
	text-align: center;
	padding: 16px 16px;
	text-decoration: none;
}
.dropdown{
	float: left;
	overflow: hidden;
}

.dropdown .dropbtn {
	font-size: 25px;  
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:#bacbe8;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.footer {
	background-color: white;
	color: #062d52;
	position: absolute;
	text-align: left;
	bottom: 100;
	left: 0;
	z-index: 100;
	width: 100%;
	padding: 20px;

}